TASKPILOT_PROVIDER="available providers view docs"

JIRA_BASE=https://xyz.atlassian.net
JIRA_EMAIL=your-email@example.com
JIRA_TOKEN=your-api-token

JIRA_JQL=#JQL Statement here

OLLAMA_MODEL=#eg llama3
